body {
  margin: 0;
  padding: 0;
}

/*Home Page*/
.home-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #E4A5FF, #ffffff);
}

.home-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

.home-img {
  margin-top: 5%;
  margin-left: 7%;
  border: 1px solid #a116e6;
  border-radius: 25px;
}

.login-form {
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  border-radius: 25px;
  background-color: #F1F6F9;
  padding: 25px;
}

.email-textfield {
  padding-bottom: 15%;
}

.password-textfield {
  padding-bottom: 18%;
}

.error {
  color: red;
}

/*Navigation bar*/
nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #E3DFFD;
  font-size: 20px;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-li.selected {
  /* styles for selected item */
  background: black;
  color: white;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
  transition: color 1s ease;
  transition: background-color 0.8s ease;
}

nav a:hover {
  background: black;
  color: white;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

.page-body {
  padding-top: 3%;
}

/*Create Account*/
.create-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #E4A5FF, #ffffff);
}

.create-acc-form {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  background-color: #F1F6F9;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  gap: 50px;
}

.get-details-form {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  background-color: #F1F6F9;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  gap: 50px;
}

.textfield {
  width: 350px;
  height: 20px;
}

.pharmacy-name {
  margin-top: 5%;
  padding-bottom: 4%;
}

.pharmacy-address {
  margin-top: 10%;
  padding-bottom: 8%;
}

.pharmacy-district {
  margin-top: 19%;
  padding-bottom: 4%;
}

.pharmacist {
  margin-top: 10%;
  padding-bottom: 4%;
}

.pharmacy-type {
  margin-top: 10%;
  width: fit-content;
  margin-left: -18.8%;
}

.radio-btn {
  margin-left: 28.5%;
  width: 250px;
}

.pharmacy-contact {
  margin-top: 10%;
  padding-bottom: 4%;
}

.pharmacy-email {
  margin-top: 10%;
  padding-bottom: 4%;
}

.pharmacy-password {
  margin-top: 10%;
  padding-bottom: 4%;
}

.pharmacy-conf-password {
  margin-top: 10%;
  padding-bottom: 5%;
}

.pharmacy-signup-btn {
  margin-top: 5%;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

/*Contact Page*/
.contact-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #E4A5FF, #ffffff);
}

.contact-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  border-radius: 25px;
  background-color: #F1F6F9;
  padding: 25px;
  gap: 50px;
}

.con-name-textfield {
  margin-top: 0%;
}

.con-email-container {
  margin-top: 16%;
}

.mob-container {
  margin-top: 16%;
}

.message-container {
  margin-top: 16%;
}

.con-btn {
  margin-top: 50%;
}

/*About Page Styles*/
.about-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #E4A5FF, #ffffff);
}

.about-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  background-color: #F1F6F9;
  padding: 25px;
  gap: 20px;
}

.about-details {
  font-size: 18px;
}

/*Pharmacy Page*/
.pharmacy-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #E4A5FF, #ffffff);
}

.pharmacy-dashbord {
  position: absolute;
  width: 87%;
  height: 700px;
  top: 10%;
  left: 5%;
  margin-right: 50%;
  border-radius: 25px;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  background-color: #F1F6F9;
  padding: 25px;
}

.navigation {
  min-width: 100px;
  width: 250px;
}

.textfield {
  width: 350px;
  height: 20px;
}

.add-container {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 20%;
  left: 36%;
  border: 1px solid #a116e6;
  box-shadow: 0px 5px 10px #AD7BE9;
  background-color: #F1F6F9;
  padding: 25px;
}

.add-form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2%;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4%;
  gap: 40px;

}

.name {
  padding-left: 80px;
  margin-top: -20px;
}

.address {
  padding-left: 65px;
  margin-top: -20px;
}

.district {
  padding-left: 146px;
  margin-top: -20px;
}

.pharmacist1 {
  padding-left: 118px;
  margin-top: -20px;
}

.contact {
  padding-left: 78px;
  margin-top: -20px;
}

.type {
  padding-left: 90px;
  margin-top: -20px;
}

.table {
  width: 800px;
  height: 500px;
  overflow: auto;
  margin-left: 25%;
}